@use 'index';

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: transparent;
    padding-right: 15px;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.nav-bar.scrolled {
    background-color: index.$button-color;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.logo img {
    border: index.$text-color 3px solid;
    height: 40px;
    margin-right: 10px;
}

.logo-name {
    font-family: index.$title-font;
    color: index.$text-color;
    text-shadow: 2px 2px 5px index.$button-color;
}

.menu {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.menu-item {
    margin: 0 15px;
    color: index.$text-color;
    text-shadow: 2px 2px 5px index.$button-color;
    text-decoration: none;
    font-family: index.$header-font;
    font-weight: 500;
    font-size: 20px;
}

.menu-item.active {
    text-decoration: underline;
}

.menu-item:hover {
    transform: scale(1.2);
    color: index.$text-color;
    transition: 0.2s ease-in-out;
}

.icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: max-content;
        width: 95svw;
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo img {
        border: index.$text-color 3px solid;
        height: 30px;
        width: 50px;
    }

    .logo-name {
        display: none;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        display: none;
        text-align: left;
        background-color: index.$button-color;
    }

    .menu-item:not(.icon) {
        display: block;
        margin: 10px 20px;
        width: auto;
    }

    .icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: index.$text-color;
        margin-right: 15px;
        margin-top: 0;
        padding: 15px;
    }

    .hamburger {
        display: block;
        color: black;
    }

    .menu.responsive {
        display: flex;
        justify-content: center;
        align-items: flex-end;

    }
}